
<section class="relative h-screen flex items-center justify-center overflow-hidden">
    <div class="absolute inset-0 z-0">
        <img 
            src="images/bg-hero3.jpg" 
            alt="Музыкальная атмосфера" 
            class="w-full h-full object-cover opacity-40 grayscale"
        />
        <div class="absolute inset-0 bg-gradient-to-b from-slate-900/30 via-slate-900/60 to-slate-900"></div>
    </div>
    
    <div class="relative z-10 text-center px-4 max-w-5xl mx-auto mt-16">
        <h2 class="text-amber-500 text-lg md:text-xl tracking-[0.3em] uppercase mb-4 opacity-90">Мультиинструменталист и Композитор</h2>
        <h1 class="font-serif text-3xl  md:text-5xl lg:text-7xl font-light mb-8 gap-6 text-white leading-none">
            Мастерство <span class="italic text-amber-500/90">Русской</span> школы<br/>
            и Океаны <span class="italic text-amber-500/90">Индийских</span> Раг
        </h1>
        <p class="text-lg md:text-xl text-slate-300 font-light mb-12 max-w-2xl mx-auto leading-relaxed">
            От европейской классики к древним традициям Дхрупада. 
            Авторский синтез, создающий универсальный язык музыки.
        </p>
        
        <div class="flex flex-col sm:flex-row gap-6 justify-center">
            <a href="#projects" class="px-8 py-4 border border-amber-500/50 text-amber-500 hover:bg-amber-500 hover:text-slate-900 transition-all duration-500 uppercase tracking-widest text-xs">
                Слушать записи
            </a>
            <a href="#contact" class="px-8 py-4 bg-slate-100 text-slate-900 hover:bg-white transition-all duration-500 uppercase tracking-widest text-xs">
                Сотрудничество
            </a>
        </div>
    </div>
</section>
